In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.info

<bound method DataFrame.info of                            test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1>

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   test    4 non-null      object
 1   class   4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [5]:
df.head()

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [6]:
cv = CountVectorizer()

In [7]:
x = cv.fit_transform(df['test'])

In [8]:
x

<4x14 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [9]:
new_x = pd.DataFrame(x)

In [10]:
new_x

                                                   0
0                             (0, 8)\t1\n  (0, 2)\t1
1    (0, 3)\t1\n  (0, 13)\t1\n  (0, 4)\t1\n  (0, ...
2    (0, 13)\t1\n  (0, 5)\t1\n  (0, 6)\t1\n  (0, ...
3    (0, 13)\t1\n  (0, 12)\t1\n  (0, 11)\t1\n  (0...

In [12]:
x.toarray()

array([[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]], dtype=int64)

In [13]:
feq = pd.DataFrame(x.toarray(), index=df, columns=cv.get_feature_names())

C:\Users\Study Mart\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [14]:
feq

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
"(I love Bangladesh, 1)",0,0,1,0,0,0,0,0,1,0,0,0,0,0
"(Could you give me an iphone?, 0)",1,0,0,1,1,0,0,1,0,1,0,0,0,1
"(Hello how are you?, 1)",0,1,0,0,0,1,1,0,0,0,0,0,0,1
"(I want to talk you., 1)",0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [18]:
feq = pd.DataFrame(x.toarray(), index=df['test'], columns=cv.get_feature_names())

In [20]:
feq

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0,0,1,0,0,0,0,0,1,0,0,0,0,0
Could you give me an iphone?,1,0,0,1,1,0,0,1,0,1,0,0,0,1
Hello how are you?,0,1,0,0,0,1,1,0,0,0,0,0,0,1
I want to talk you.,0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [21]:
cv.vocabulary_

{'love': 8,
 'bangladesh': 2,
 'could': 3,
 'you': 13,
 'give': 4,
 'me': 9,
 'an': 0,
 'iphone': 7,
 'hello': 5,
 'how': 6,
 'are': 1,
 'want': 12,
 'to': 11,
 'talk': 10}

# TF -IDF

In [22]:
df = pd.read_csv('data.csv')

In [23]:
TF = TfidfVectorizer()

In [24]:
x2 = TF.fit_transform(df['test'])

In [25]:
pd.DataFrame(x2.toarray(), index=df['test'], columns=TF.get_feature_names())

C:\Users\Study Mart\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
Could you give me an iphone?,0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
Hello how are you?,0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
I want to talk you.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783

In [26]:
TF.idf_

array([1.91629073, 1.91629073, 1.91629073, 1.91629073, 1.91629073,
       1.91629073, 1.91629073, 1.91629073, 1.91629073, 1.91629073,
       1.91629073, 1.91629073, 1.91629073, 1.22314355])

In [30]:
df.head()

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [31]:
x = df['test']

# Word2Vec Vectorizer

In [32]:
from gensim.models import Word2Vec, KeyedVectors

In [33]:
import nltk

In [34]:
text_vec = [nltk.word_tokenize(test) for test in x]

In [35]:
text_vec

[['I', 'love', 'Bangladesh'],
 ['Could', 'you', 'give', 'me', 'an', 'iphone', '?'],
 ['Hello', 'how', 'are', 'you', '?'],
 ['I', 'want', 'to', 'talk', 'you', '.']]

In [37]:
model = Word2Vec(text_vec, min_count=1 )

In [38]:
model

In [39]:
model.wv.most_similar('you')

[('iphone', 0.21882031857967377),
 ('.', 0.21624402701854706),
 ('how', 0.09317704290151596),
 ('give', 0.09291953593492508),
 ('Hello', 0.07967706769704819),
 ('talk', 0.06294766813516617),
 ('to', 0.0543513186275959),
 ('me', 0.027056889608502388),
 ('Could', 0.01613187976181507),
 ('I', -0.010843229480087757)]

In [40]:
model.wv.most_similar('iphone')

[('you', 0.21882031857967377),
 ('give', 0.1747603565454483),
 ('Could', 0.16378773748874664),
 ('love', 0.10852646082639694),
 ('to', 0.06548116356134415),
 ('want', 0.04891001060605049),
 ('Bangladesh', 0.047671593725681305),
 ('I', 0.022314248606562614),
 ('.', 0.006397296208888292),
 ('talk', -0.011984676122665405)]